node_modules/*

npm-debug.log

public/bundle.js

.DS_Store

server/uploads

server/temp

public/assets/logo

.configsecrets

.devCert

.devMail

passenger.*

tmp/*

certbot-auto

public/.well-known/*

sslcert/*

log

pid

pid.lock

Passengerfile.json

.ssl/*

certbot-auto