node_modules/*

npm-debug.log

.DS_Store

server/uploads

.configsecrets

.devCert

.devMail

passenger.*

tmp/*

certbot-auto

public/.well-known/*

sslcert/*

log

pid

pid.lock

Passengerfile.json

.ssl/*

certbot-auto