/* Main Stylesheet */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px
}
h2 {
	color: #354052;
	font-family: "Source Sans Pro";
	font-size: 24px;
	line-height: 36px;
}
h3 {
	color: #354052;
	font-family: "Source Sans Pro";
	font-size: 22px;
	line-height: 32px;
	margin: 0px;
}
h4 {
	color: #1A1919;
	font-family: "Source Sans Pro";
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	margin-top: 12px;
}
h5 {
	color: #354052;
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
}
.nav-bottom-bar a {
	text-decoration: none;
}
.edit {
	/* color: #2EA2F8; */
	color: #1066A3;
	cursor: pointer;
}
.edit:hover {
	text-decoration: underline !important;
}
.right-margin {
	margin-right: 20px;
}
input, textarea {
	padding-left: 5px;
	padding-right: 5px
}
.required::after {
	content: "*";
	color: #f85359
}
.monetary::before {
	content: "$";
	position: absolute;
	margin-left: -10px;
	line-height: 36px
}
.percentage::after {
	content: "%";
	position: absolute;
	margin-left: 2px;
	line-height: 36px;
}
.percentage input {
	text-align: right
}
.right-justify {
	text-align: right
}

/* Header */
.header-bar {
	margin-top: 30px;
}
.logo {
	height: 50px;
	width: 225px;
	background: url(../img/myadmin_logo.svg);
	background-position-x: left;
    background-position-y: center;
	background-size: 225px;
	background-repeat: no-repeat;
	min-height: none;
	display: inline-block;
}
.contactus {
	width: 130px;
	float: right;
	/* display: inline-block; */
	background: url(../img/email-symbol.svg);
	background-position-x: left;
	background-position-y: 17px;
	background-size: 20px;
	background-repeat: no-repeat;
}
.contactus .phone-icon {
	position: absolute;
	top: 12px;
	right: 152px
}
.second-header-bar {
	margin-top: 20px;
	border-bottom: 2px solid #1066A3;
	padding-bottom: 10px;
}
.second-header-bar h3 {
	display: inline-block;
}
.second-header-bar button {
	display: inline-block;
	margin-left: 20px;
}
.logout-button {
	border: none;
	background-color:  rgba(0,0,0,0);
	color: #1066A3;
	font-size: 18px
}
.logout-button:hover {
	text-decoration: underline !important;
}

.login .bottom-buttons {
	width: 100%
}
.login .bottom-buttons span {
	position: absolute;
	left: 15px;
	color: #1066A3;
	cursor: pointer
}
.login .bottom-buttons span:hover {
	text-decoration: underline;
	color: #1066A3
}
.login .bottom-buttons button {
	position: absolute;
	right: 15px
}

/* Menu */
.nav-bottom-bar {
	margin-top: 32px;
	border-bottom: 3px solid #1991EB;
}
.menu-item {
	display: inline-block;
	height: 53px;
	border: 1px solid #1991EB;
	border-bottom: 1px solid rgba(0,0,0,0);
	border-radius: 5px 5px 0 0;
	padding-right: 0;
	padding-left: 0;
	width: calc((100% - 52px) / 6)
}
.menu-item + .menu-item {
	margin-left: 10px
}
.menu-shade {
	background-color: #1991eb
}
.menu-shade h4 {
	color: #ffffff
}

/* Error Alerts */
.alert-box {
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 10
}
.red-alert, .green-alert {
	position: absolute;
	height: 36px;
	width: 350px;
	transform: translateX(-50%);
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	font-family: "Source Sans Pro";
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	padding-top: 7px;
	padding-bottom: 7px;
}
.red-alert {
	background-color: #f85359
}
.green-alert {
	background-color: #39b54a
}
.red-alert .left, .green-alert .left {
	position: absolute;
	top: 9px;
	left: 15px
}
.red-alert .right, .green-alert .right {
	position: absolute;
	top: 9px;
	right: 15px
}
.red-alert:hover, .green-alert:hover {
	cursor: pointer
}

/* Applications List */
.sorting {
	text-decoration: underline
}
/* .sortable::after {
	content: url(../img/drop-triangle.svg);
	position: absolute;
	width: 10px;
	height: 10px;
} */
.sorting::after {
	content: url(../img/Arrow_Down.svg);
	position: absolute;
	width: 10px;
	height: 10px;
}
.sortable:hover, .sorting:hover {
	cursor: pointer
}
.reverse > .sorting::after {
	content: url(../img/Arrow_Up.svg)
}
.app-header-top {
	position: relative;
	background-color: #f0f7fb;
	border-top: solid #1991EB;
	border-left: solid #1991EB;
	border-right: solid #1991EB;
	border-width: 1px 1px 0px 1px;
}
.app-header-top div {
	display: inline-block;
	vertical-align: top
}
.app-header-bottom {
	background-color: #f0f7fb;
	border-bottom: solid #000;
	border-width: 0px 1px 1px 1px;
	width: calc(100% - 2px);
	/* raven said to do this but it looks dumb */
	/* text-align: center */
}
.app-table .app-header-bottom span, .app-table-edit .app-header-bottom span {
	font-weight: bold;
	font-size: 13px
	/* text-align: center */
}
.app-table {
	width: 100%;
	border-bottom: solid #1991EB;
	border-left: solid #1991EB;
	border-right: solid #1991EB;
	border-width: 1px;
}
.admin .app-table {
	border-top: 1px solid #1991EB
}
.app-table > div {
	width: 100%;
}
.app-table span, .app-table-edit span {
	display: inline-block;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 0;
	padding-right: 0;
	/* padding-left: 10px; */
	/* padding-right: 10px; */
	width: 10%;
	font-size: 14px
}
.app-table span.date {
	width: 76px;
	margin-right: 14px;
	margin-left: 24px
}
.app-table span.customer {
	width: 120px;
	margin-right: 13px
}
.app-table span.address {
	width: 120px;
	margin-right: 13px
}
.app-table span.amount {
	width: 72px;
	margin-right: 14px
}
.app-table span.status {
	width: 80px;
	margin-right: 13px
}
.app-table span.company {
	width: 140px;
	margin-right: 14px
}
.app-table span.approval {
	width: 76px;
	margin-right: 14px
}
.app-table span.expiry {
	width: 70px;
	margin-right: 13px
}
.app-table span.rep {
	width: 104px;
	margin-right: 14px
}
.app-table span.options {
	width: 70px;
	margin-right: 12px
}

.app-table .even, .app-table .odd, .user-table .even, .user-table .odd {
	height: 49px
}
.app-table .even span, .app-table .odd span {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
/* .app-table .even span:hover::after, .app-table .odd span:hover::before {
	content: "HI I'M TEXT";
	position: absolute;
	border: 1px solid black;
	background-color: white;
	padding: 4px
} */
.app-table .app-header-bottom td {
	font-weight: bold;
	font-size: 13px
}
.app-table tr {
	width: 100%;
}
.app-table td {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 24px;
	font-size: 14px
}
.table-right {
	padding-right: 24px
}
.app-table .edit {
	text-align: center
}
.no-gutters {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.newapp {
	margin-top: 15px;
	margin-right: 15px;
	float: right;
}
.app-title {
	margin-top: 15px;
	margin-left: 25px;
	margin-bottom: 10px;
}
.app-button {
	height: 36px;
	width: 190px;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	color: #fff;
	background-color: #1991EB;
}
.odd {
  background-color: white;
} 
.even {
  background-color: #f8f8f8;
}
.status.New {
	font-weight: bold
}
.status.Working {
	font-weight: bold
}
.status.Approved {
	color: #39b54a;
	font-weight: bold
}
.status.Declined {
	color: #f85359;
	font-weight: bold
}
.status.Hold {
	color: #f7981c;
	font-weight: bold
}
.status.Expired {
	color: #6b47db;
	font-weight: bold
}

/* Users List */
.user-header-top {
	position: relative;
	background-color: #f0f7fb;
	border-top: solid #1991EB;
	border-left: solid #1991EB;
	border-right: solid #1991EB;
	border-width: 1px 1px 0px 1px;
}
.user-header-top div {
	display: inline-block;
}
.user-header-bottom {
	background-color: #f0f7fb;
	border-bottom: solid #000;
	border-left: solid #1991EB;
	border-right: solid #1991EB;
	border-width: 0px 1px 1px 1px;
	width: calc(100% - 2px);
}
.user-table .user-header-bottom td {
	font-weight: bold;
	font-size: 13px
}
.user-table {
	width: 100%;
	border-bottom: solid #1991EB;
	border-left: solid #1991EB;
	border-right: solid #1991EB;
	border-width: 1px;
}
.user-table tr {
	width: 100%;
}
.user-table td {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 24px;
	font-size: 14px
}
.newuser {
	margin-top: 15px;
	margin-right: 15px;
	float: right;
}
.user-title {
	margin-top:15px;
	margin-left: 25px;
	margin-bottom: 10px;
}
.user-button {
	height: 36px;
	width: 190px;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	color: #fff;
	background-color: #1991EB;
}

/* Edit Applications Pages */
.edit-apps-page > .top, .edit-byo-page > .top {
	margin-bottom: 20px
}
.app-bg-page h3 {
	color: #354052;
	font-family: "Source Sans Pro";
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 10px;
}
.edit-apps-page label {
	color: #354052;
	font-family: "Source Sans Pro";
	font-size: 16px;
	font-weight: normal;
	/* line-height: 24px; */
}
.edit-apps-page select {
	-webkit-appearance: none;
	background: url(../img/arrow.svg);
	background-position-x: right;
    background-position-y: center;
	background-size: 30px;
	background-repeat: no-repeat;
	padding-left: 10px;
	height: 36px;
	background-color: #fff;
	border: 1px solid #CED0DA;
	border-radius: 4px;
}
.edit-apps-page #term {
	width: 99px;
	padding-right: 30px
}
.edit-apps-page .other {
	width: calc(100% - 99px - 15px);
	position: absolute;
	right: 0
}
.edit-apps-page .add-lease-button {
	margin-left: 15px
}
.edit-apps-page .extra-space {
	margin-top: 10px;
	margin-bottom: 15px
}
.flux-table {
	width: 100%;
	border: 1px solid #C5D0DE
}
.flux-table > div {
	width: 100%
}
.flux-top {
	height: 142px
}
.flux-float {
	padding-top: 15px;
	padding-bottom: 15px
}
.flux-float h2 {
	margin-top: 0;
	margin-bottom: 0 !important;
	display: inline-block
}
.flux-table > .flux-top {
	background-color: #f0f7fb;
	border-bottom: 1px solid black
}
.flux-table > .flux-top > div > div {
	font-weight: bold
}
.flux-table > div > div > div, .flux-table > div > div > img {
	display: inline-block;
	width: 8%;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 5px
}
.flux-table .thicc {
	width: 15%
}
.flux-table .ultra {
	width: 70%
}
.flux-table .notes {
	display: block;
	width: 68%;
	margin-left: 16%;
	padding-right: 5px;
	padding-top: 0
}
.flux-table .notes div {
	/* text-align: right; */
	width: 100%;
	border: 1px solid black;
	padding: 5px
}
.retracted {
	width: 100%;
	height: 54px;
	overflow-y: hidden
}
.retracted.extended {
	height: auto;
}

.notes.retracted {
	transform: scaleY(0);
	transform-origin: top;
	transition: transform .15s
}
.notes.retracted.extended {
	transform: scaleY(1)
}

.flux-table .even, .flux-table .odd {
	padding-left: 15px;
	padding-right: 15px
}
.flux-table .even .retracted > *, .flux-table .odd .retracted > * {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: top
}
.flux-table .user {
	width: 20%
}
.flux-table .date {
	width: 12%
}
.flux-table .leasingCompany {
	width: 25%
}
.flux-table .appNumber {
	width: 18%
}
.flux-table .status {
	width: 15%
}
.flux-table .edit {
	width: 5%;
	height: 54px
}
.flux-table .edit + .edit {
	width: 5%
}

.flux-table .leaseNumber {
	width: 30%
}
.flux-table .leaseCompany {
	width: 25%
}
.flux-table .quote {
	width: 15%
}
.flux-table .calcs,
.flux-table .letEmKnow {
	width: 15%;
	color: #1066A3;
	cursor: pointer;
	text-align: center
}
.flux-table .calcs:hover,
.flux-table .letEmKnow:hover {
	text-decoration: underline
}

.index-number {
	/* margin-top: 8px;
	margin-right: 12px !important;
	display: inline-block;
	float: left; */
	line-height: 36px;
	width: 100%;
	margin: 0;
	text-align: center
}

/* Edit BYO Pages */
.edit-byo-page h3 {
	color: #354052;
	font-family: "Source Sans Pro";
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 10px;
}
.edit-byo-page label {
	color: #354052;
	font-family: "Source Sans Pro";
	font-size: 16px;
	font-weight: normal;
	/* line-height: 21px; */
}
.edit-byo-page select {
	-webkit-appearance: none;
	background: url(../img/arrow.svg);
	background-position-x: right;
    background-position-y: center;
	background-size: 30px;
	background-repeat: no-repeat;
	padding-left: 10px;
	height: 36px;
	background-color: #fff;
	border: 1px solid #CED0DA;
	border-radius: 4px;
}
.lease-input .field-row input {
	width: 100%;
	height: 36px;
	border: 1px solid #CED0DA;
	border-radius: 4px;
	padding: 0px 5px;
}
.lease-input span {
	line-height: 36px;
	word-wrap: break-word
}
.machine-input input {
	width: 100%;
	height: 36px;
	border: 1px solid #CED0DA;
	border-radius: 4px;
	/* margin-right: 20px; */
	padding: 0px 5px;
	margin-bottom: 10px;
}
.machine-input select {
	width: 100%;
	padding-right: 25px
}
.condense-gutters + .condense-gutters {
	padding-left: 0
}
.remove-button {
	height: 15px;
	width: 15px;
	margin-top: 10px;
	background: url(../img/remove.svg);
	background-position-x: left;
    background-position-y: center;
	background-size: 15px;
	background-repeat: no-repeat;
	/* min-height: none; */
	border: none;
}
#byo-desc {
	margin-top: 30px;
}
.lease-input + .lease-input {
	margin-top: 20px
}
.lease-input .radio-div {
	margin-top: 17px;
}
.add-button {
	height: 36px;
	width: 140px;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	color: #fff;
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
	background-color: #354052;
	outline: none;
	margin-bottom: 20px;	
}
.machine.add-button {
	margin-left: 15px
}
.show-button {
	height: 36px;
	width: 140px;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	color: #fff;
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
	background-color: #354052;
	outline: none;
	margin-top: 10px;
	margin-bottom: 20px;	
	margin-left: 20px;
}
.machine.show-button {
	margin-left: 0;
	margin-bottom: 10px
}
.add-lease-button {
	height: 36px;
	width: 140px;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	color: #fff;
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
	background-color: #354052;
	outline: none;
	margin-top: 20px;
	/* margin-bottom: 20px;	 */
}

/* Edit Fields Styles */
.app-table-edit {
	/* border-bottom: solid #1991EB; */
	border-left: solid #1991EB;
	border-right: solid #1991EB;
	border-width: 1px;
}
form .app-table-edit {
	border-bottom: 1px solid #1991EB;
}
.app-table-edit > div {
	width: 100%;
}
.app-table-edit span {
	padding: 16px 10px 16px 10px;
	display: inline-block
}
.edit-fields-box.branch span {
	width: 10%
}
.edit-fields-box.region span {
	width: 25%
}
.edit-fields-box.dealer span {
	width: 11%
}
.edit-fields-box.dealer .upload {
	width: 22%
}
.edit-fields-box.dealer .tail-end {
	width: 6%
}
/* .street {
	width: 200px !important;
} */
.clear {
	resize: none;
	width: 100%;
	-webkit-appearance:none;
	padding-left: 5px;
	padding-right: 5px;
	min-height: 36px;
	height: 100%;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}
.white {
	resize: none;
	width: 100%;
	padding-left: 4px;
	padding-right: 4px;
	height: 36px;
	border: 1px solid #DFE3E9;
	border-radius: 4px;
	background-color: #fff;
}
.white-dpd {
	-webkit-appearance: none;
	padding-left: 4px;
	padding-right: 4px;
	height: 36px;
	width: 100px;
	border: 1px solid #DFE3E9;
	border-radius: 4px;
	background-color: #fff;
	background-image: url(../img/arrow.svg);
	background-position-x: right;
	background-position-y: center;
	background-size: 30px;
	background-repeat: no-repeat;
}
.tr-padding {
	margin-right: 25px;
}
.fields-button {
	color: #1066A3;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}
.fields-button:hover {
	text-decoration: underline;
}
.new-button {
	margin-top: 20px;
	height: 36px;
	width: 190px;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	color: #fff;
	background-color: #1991EB;
}
.admin .send-button {
	margin-top: 15px;
	height: 46px;
	width: 165px;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	background-color: #4490e4;
}
.admin .super.send-button {
	width: 190px
}
button.disabled {
	background-color: #e2e7ee !important;
	cursor: not-allowed
}
.mid-gutter > * {
	padding-left: 0;
	padding-right: 0
}
/* .mid-gutter > * + * {
	padding-left: 15px;
	padding-right: 0
} */
.admin .mid-gutter .app-bg {
	padding-bottom: 15px;
	margin-bottom: 30px
}
.edit-apps-page .pad-me #cancel-button,
.edit-byo-page .pad-me #cancel-button  {
	color: #1066A3;
	position: absolute;
	right: 15px
}

.pdfs .row {
	margin-top: 15px
}
.pdfs textarea {
	width: 100%;
	margin-bottom: 30px
}
/* Ellipsis Expand */
/* .overflow-tip {
  white-space:nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  &:active, &:hover {
    overflow-x: visible;
    span {
      position: relative;
      background-color: PaleGoldenRod;
      border: 1px solid gray;
      padding: 3px;
      margin-left: -4px;
    }
    
  }
} */

/* Universal */
.agent-box {
	background-color: #F1F4F8;
	padding: 20px;
}
.agent-box label {
	font-weight: bold
}
.edit-base {
	margin-left: 30px;
}
.app-bg {
	background-color: #edf5fd;
	margin-top: 30px;
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 25px;
	padding-right: 15px;
}
.rowed-items {
	vertical-align: top;
	display: inline-block;
	margin-right: 30px;
	/* min-height: 73px */
}
.rad-btns input {
	margin-right: 10px;
}
.rad-btns label {
	width: 80px;
	margin-top: 5px;
	margin-right: 15px;
}
.type-rad-btns {
	margin-top: 15px
}
.type-rad-btns input {
	margin-right: 5px;
}
.type-rad-btns label {
	margin-right: 15px;
}
.deal-rad-btns input {
	margin-right: 5px;
}
.deal-rad-btns label {
	margin-top: 5px;
	margin-right: 15px;
}
#other-label {
	width: 40px;	
}
.field-label label {
	display: block;
	margin-top: 15px;
}
.field-labelish label {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px
}
.field-label select {
	width: 100%;
	height: 36px;
	border: 1px solid #CED0DA;
	border-radius: 4px;
}
.field-label input {
	width: 100%;
	height: 36px;
	border: 1px solid #CED0DA;
	border-radius: 4px;
}
.field-desc textarea {
	width: 100%;
	height: 110px;
	border: 1px solid #CED0DA;
	border-radius: 4px;
	display: block;
}
.field-box input {
	width: 100%;
	height: 36px;
	border: 1px solid #CED0DA;
	border-radius: 4px;
}
.field-box p {
	line-height: 36px
}
.field-desc textarea {
	width: 100%;
	height: 110px;
	border: 1px solid #CED0DA;
	border-radius: 4px;
}
.field-dropd select {
	width: 50px;
}
.field-dropd-full select {
	width: 100%;
}
/* #date-started p {
	margin-top: 6px;
	margin-bottom: 20px;
} */
.status select {
	height: 36px;
	width: 140px;
	background-color: #E2E7EE;
	display: block;
}
.admin .status select {
	background-color: white
}
.user-bg select {
	-webkit-appearance: none;
	background: url(../img/arrow.svg);
	background-position-x: right;
	background-position-y: center;
	background-size: 30px;
	background-repeat: no-repeat;
	padding-left: 10px;
	height: 36px;
	background-color: #E2E7EE;
	border: 1px solid #CED0DA;
	border-radius: 4px;
}
.status label {
	display: block;
}
.buttons #delete-button {
	position: absolute;
	left: 15px;
	margin-left: 0
}
#delete-button {
	height: 46px;
	width: 165px;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	background-color: #293141;
}
#cancel-button, .cancel-button {
	color: #354052;
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	text-align: center;
	cursor: pointer
}
#back-button {
	color: #1066A3;
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-weight: 600;
	line-height: 24px
}
.pad-me {
	padding-top: 25px
}
#save-button {
	height: 46px;
	width: 165px;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	background-color: #293141;
}
#cancel-button.top, #save-button.top {
	font-size: 14px
}
#save-button.top {
	height: 36px
}
#submit-button {
	height: 46px;
	width: 165px;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	background-color: #4490e4;
}
.pdf-btn {
	margin-left: 30px;
	color: #1066a3;
	font-size: 18px;
	font-weight: 600;
	font-family: "Source Sans Pro";
	line-height: 36px;
	cursor: pointer
}
.buttons {
	margin-top: 30px;
	margin-bottom: 30px;
}
.top-buttons {
	margin-top: 15px
}
.buttons button, .top-buttons button {
	margin-left: 30px;
}
.custom-length select {
	width: 100%;
}
input.on + label {
	font-weight: 600
}
/* .admin {
	border-top: 2px solid #1066A3;
	margin-bottom: 90px
} */
.admin h2 {
	margin-bottom: 20px
}
.ex-table .margin-drop {
	margin-bottom: 90px
}
.app {
	margin-bottom: 90px
}
.admin .log h3 {
	margin-top: 15px;
	margin-bottom: 15px
}
.admin #cancel-button, .admin .cancel-button {
	margin-top: 26px;
	margin-left: 15px;
	display: inline-block
}
span#cancel-button:hover {
	cursor: pointer;
	text-decoration: underline
}
.admin .field-box select {
	width: 50%
}
.field-box .upload-button {
	border: none;
	padding-left: 0
}
.upload-button::-webkit-file-upload-button {
	height: 36px;
	width: 140px;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	color: #fff;
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
	background-color: #354052;
	outline: none;
	cursor: pointer
}
.admin .agent-box + div {
	padding-left: 45px
}
.full-width {
	width: 100%
}
.agent-box .full-width span {
	width: 50%;
	display: inline-block;
	text-align: center
}
.lightbox {
	width: 100%;
	height: 100%;
	/* background-color: rgba(0, 0, 0, .85 ); */
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 10%;
	padding-bottom: 10%;
	z-index: 1
}
.lightbox .container {
	/* height: calc(100% - 2px) */
	height: 100%
}
.lightbox-content {
	/* width: 100%; */
	/* height: 100%; */
	height: calc(100% + 2px);
	position: relative;
	top: -1px;
	overflow-y: scroll;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid black;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .5)
}
.edit-apps-page > div > .lightbox .lightbox-content {
	/* overflow-y: hidden */
	overflow-y: scroll
}
.shadowbox {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute
}
.exit-lightbox {
	position: absolute;
	top: 8px;
	right: 8px;
	height: 32px;
	width: 32px;
	cursor: pointer;
	z-index: 2
}
.exit-lightbox img {
	width: 100%
}
.agent-edit-box {
	position: absolute;
	top: 20px;
	right: 20px;
	height: 22px;
	width: 20px;
	cursor: pointer
}
.log-entry {
	padding-bottom: 15px
}
.log-entry + .log-entry {
	border-top: 1px solid black;
	padding-top: 15px
}
.log-date {
	font-size: 14px
}
.ultra-special {
	border-top: 1px solid #C5D0DE;
}

@media screen and (max-width: 1199px) {
	.app-table span.date {
		width: 7.33%;
		margin-right: 1.17%;
		margin-left: 2%
	}
	.app-table span.customer {
		width: 11%;
		margin-right: 1.08%
	}
	.app-table span.address {
		width: 11.67%;
		margin-right: 1.08%
	}
	.app-table span.amount {
		width: 6%;
		margin-right: 1.17%
	}
	.app-table span.status {
		width: 5.33%;
		margin-right: 1.08%
	}
	.app-table span.company {
		width: 13%;
		margin-right: 1.17%
	}
	.app-table span.approval {
		width: 7.33%;
		margin-right: 1.17%
	}
	.app-table span.expiry {
		width: 5.83%;
		margin-right: 1.08%
	}
	.app-table span.rep {
		width: 9.33%;
		margin-right: 1.17%
	}
	.app-table span.options {
		width: 6.33%;
		margin-right: 2%
	}
}

.red {
	border: 1px solid #f85359 !important
}
select.state {
	width: 100% !important
}
.admin .field-desc textarea {
	height: 208px
}

.refresh-btn {
	margin-top: -2px;
	margin-left: 5px;
	width: 20px;
	height: 20px;
	cursor: pointer
}

.lightbox.notify {
	/* padding-top: calc((100vh - 539px) / 2);
	padding-bottom: calc((100vh - 539px) / 2); */
	padding-top: calc((100vh - 617px) / 2);
	padding-bottom: calc((100vh - 617px) / 2)
}
.lightbox.notify .lightbox-content .app-bg {
	margin-top: 0
}
.lightbox.notify .lightbox-content {
	padding-top: 0;
	padding-bottom: 0
}
.admin .lightbox.notify p {
	margin-bottom: 0
}

.lightbox.action {
	padding-top: calc((100vh - 539px) / 2);
	padding-bottom: calc((100vh - 539px) / 2)
}
.lightbox.action .lightbox-content .app-bg {
	margin-top: 0
}
.lightbox.action .lightbox-content {
	padding-top: 0;
	padding-bottom: 0
}

.og.exit-lightbox {
	position: fixed;
	top: 0;
	right: calc(((100% - 1170px) / 2) + (1170px / 6) + 20px);
	padding-top: calc(10% + 10px);
}

.refresh {
	margin-left: 25px;
	display: inline-block;
	margin-top: 23px;
	cursor: pointer
}
.refresh:hover {
	text-decoration: underline
}

.big-bar-bot {
	border-bottom: 2px solid #1066A3
}

.app-bg > strong {
	display: block;
	margin-top: 15px
}

.sm-input {
	width: 50%
}
.rightput {
	text-align: right
}
.sm-input + span {
	display: inline-block
}

.admin #cancel-button.calcs {
	margin-top: 6px
}
.app-bg.calcs {
	margin-top: 0
}

.calcs .field-label label, .oneline {
	white-space: nowrap
}

.breakdown .row {
	height: 36px
}

.to-calcs {
	color: #1066a3;
	font-family: "Source Sans Pro";
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	cursor: pointer;
	margin-bottom: 30px;
	display: inline-block
}

.attach-btn {
	color: #1066a3;
	margin-left: 15px
}
.attache {
	padding-top: 8px
}
.attache > div {
	width: 50%;
	padding-top: 4px;
	display: flex;
	justify-content: space-between
}
.attache > div > span + span {
	color: #1066a3
}
.attach-btn:hover,
.attache > div > span + span:hover {
	text-decoration: underline;
	cursor: pointer
}

.bottom-guard {
	width: 100%;
	height: 36px;
	display: inline-block
}